body{
    background-image: url('minimalist-background-twilight-breeze-digital-art-4k-wallpaper-uhdpaper.com-193@0@e.jpg');
    background-position: center;
}

.ql{
    text-align: center;
    border: 1px solid;
}